spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/prompt}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:airelawaleria060866}
  jpa:
    hibernate:
      ddl-auto: update
    #show-sql: true
    #properties:
    #  hibernate:
    #    format_sql: true
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: prompt-server
            client-secret: ${KEYCLOAK_CLIENT_SECRET:}
            scope: openid
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8081/realms/prompt}
            user-name-attribute: preferred_username
      resourceserver:
        jwt:
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8081/realms/prompt/protocol/openid-connect/certs}
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8081/realms/prompt}
  mail:
    host: postfix
    # username:
    # password:
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          starttls:
            enable: true

jwt:
  auth:
    converter:
      resource-id: prompt-server
      principal-attribute: preferred_username

prompt:
  client:
    host: ${CLIENT_HOST:localhost}
  atlassian:
    username: ${ATLASSIAN_USERNAME:}
    password: ${ATLASSIAN_PASSWORD:}
    bitbucket-url: ${BITBUCKET_URL:}
    jira-url: ${JIRA_URL:}
    bamboo-url: ${BAMBOO_URL:}
    confluence-url: ${CONFLUENCE_URL:}


server:
  servlet:
    context-path: /api
