.navbar {
  padding: 2vw 0;
  gap: 2vw;
}

.navEntry {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: small;
  padding: 1vh 1vw;
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  color: var(--mantine-color-dimmed);

  &:hover {
    background-color: var(--mantine-color-default);
    color: var(--mantine-color-default-color);
  }

  svg {
    margin-right: 1.5vw;
  }
}

.avatar {
  padding: 0.3vh 0.3vw;
  border-radius: var(--mantine-radius-sm);

  &:hover {
    background-color: var(--mantine-color-default);
    color: var(--mantine-color-default-color);
  }
}

.navEntryActive {
  &,
  &:hover {
    background-color: var(--mantine-color-default);
    color: var(--mantine-color-default-color);
    & icon {
      color: var(--mantine-color-default-color);
    }
  }
}

.navbarBottom {
  margin-top: auto; // Pushes this section to the bottom of the navbar
  padding: 1vw;
}